%h1 Восстановление пароля
%p Укажите свой email, используемый при регистрации на сайте. На него будут высланы дальнейшие инструкции по восстановлению пароля

- form_tag password_resets_path do
  %label Email:
  = text_field_tag "email"
  %br
  = submit_tag "Сбросить пароль"
