= latest_newsitem current_college

%table.news
  %tr
    %td= latest_news(nil)
    %td= latest_news(current_college, true)

%hr

%p Это поддомен конкретного ВУЗа. Я предполагал, что по дизайну будут какие-то различия между ними. Но в то же время не совсем уж разные дизайны, а скорее просто в едином стиле. Вобще в дизайне должна просматриваться единая какая-то линия. Т.к. пользователь за одно посещение может побывать на главном домене (zachet.org), на поддомене своего профиля account.zachet.org и на поддомене одного или нескольких ВУЗов, например bsu.zachet.org У пользователя не должно сложиться впечатление, что он посетил три разных сайта.
%p Но в то же время подомены вузов должны быть узнаваемы и различаемы. Я думаю, что было оптимальным, чтобы они отличались цветами и чем-то в шапке (хотя изюминки приветствуются). В частноти может стоит в шапку включать фотку ВУЗа или лого (хотя хз можно ли чужое лого у себя использовать))).
%p Очень-очень желательно, чтобы дизайн изменялся лишь подгрузкой стилей и минимальными какими-то элементами, а сама структура страниц лучше бы не менялась. В будущем может мы и созреем вобще кастомизировать для вузов дизайны вплоть до переписывания всех шаблонов и изменения расположения элементов, но это геморно и дорого. Сейчас хочется, чтобы шаблоны были одни и те же. Тем более, что со временем число сайтов будет увеличиваться и хочется, чтобы добавление нового ВУЗа влекло относительно небольшие изменения (раскраска стиля, изменения шапки, ...), а не создание полностью нового дизайна.


%h1 сущности материалов

%h2 материалы

%ul
  %li у ВУЗа есть много предметов (например в БГУИР их около 600)
  %li
    у предмета есть материалы: шпоры, методы, куровые, контрольные, конспекты.... Список может меняться. Возможно появятся какие-то материалы специфичные для этого ВУЗа.
    %a{:href => "materials.html"} Описание полей материалов
  %li у материалов есть комментарии


%h2 преподы
%p Так же на сайте есть преподаватели.
%ul
  %li У преподавателя есть места работы (может быть несколько)
  %li В каждом месте работы преподаватель работает на какой-то кафедре (может быть несколько или вовсе не указано). Т.е. у нас в базе хранится инфа о том, какие есть факультеты в ВУЗе и какие у этих факультетов кафедры.
  %li а так же в каждом месте работы преподаватель ведёт какие-то предметы (может быть несколько или не указано т.к. не всегда по всем преподам у нас есть информация). Предметы к факультетам и кафедрам не привязаны. Они лишь привязываются к ВУЗу.
  %li о преподах есть отзывы (комментарии). Причем если препод работает и в БГУ, и в БГУИР.

%h2 Комментарии

%p они же отзывы для преподавателей
%p Комменты древовидные
%p на форме добавления коммента присутствуют галочка типа "следить за ответами". Пользователь будет получать уведомления о комментах в таких топиках, а в своём профиле нужна возможность быстрого удаления из слежения, а так же возможность настройки типа "получать письма сразу", "раз в неделю", "раз в день", "не высылать email" (тогда ему в профиле надо как-то об этом сигнализировать)
%p На сайте единая авторизация между всеми поддоменами. Т.е. если пользователь вошёл на сайт (кстати вход происходит на account.zachet.org), то он может откомментить и в своём ВУЗе и в чужом ВУЗе. Поэтому я вот подумывал о том, что было бы хорошо, что бы было видно из какого ВУЗа автор комментария. Особенно на преподах.

%hr

%h1 моё видение некоторых страниц

%h2 просмотр предмета

%ul
  %li
    материалы
    %ul
      %li Шпоры
      %li Курсовые
      %li Рефераты
      %li Дипломы
      %li Конспекты лекций
      %li Лабораторные работы
      %li Методические пособия и лабораторные практикумы
      %li Книги
      %li Типовые расчёты
      %li Контрольные работы
      %li Презентации
      %li Прочее
  %li преподы

%a{:href => "http://bsuir-helper.ru/predmet/oaip"} Вот как выглядит на текущем сайте

%h2 просмотр материала
показываем:
%ul
  %li
    сам материал с описанием и ссылками на файлы.
    %a{:href => "materials.html"} Описание полей материалов
  %li похожие материалы
  %li преподаватели, которые ведут предмет этого материала
  %li древовидные комменты
  %li ссылка на добавление нового материала этого же типа
  %li похожие или связанные материалы (на старте сайта наверное не будет, но в будущем наверное добавим)
%a{:href => 'http://bsuir-helper.ru/predmet/oaip/laby/laba-1-7-laboratornye-raboty-po-oaip-2-semestr-chislennye-metody-variant-3'} вот как выглядит на текщем сайте

%h2 просмотр препода

%ul
  %li инфа о преподавателе
  %li ссылки на дисциплины
  %li ссылки на связанные материалы (на старте сайта этого может и не будет, но в будущем планируется показывать связи)
  %li мнения о преподе (комменты)
  %li ссылка на дбавление нового препода

%a{:href => 'http://bsuir-helper.ru/lectors/busko'} Пример на живом сайте

%h2 новости

%ul
  %li полный текст новости
  %li древовидные комменты

%h1 еще пара моментов

%p Надо сделать так, чтобы добавление материалов для пользователей было очень простой задачей и чтобы они это делали. На текущем сайте народ не очень активничает по этому поводу (
%p Страницы и блоки типа "последнее добавленное" я не описывал и это скорее на твоё усмотрение. У меня вот были мысли типа на главной ВУЗа показывать:
%ul
  %li крупную фотку рандомного препода с призывом его прокомментировать
  %li крупную фотку препода типа "препод дня". И каждый день там будет новый препод и народ будет их видеть и комментить.
%p Всякие меню и блоки должны быть универсальны на предмет того, что в них может добавляться больше сущностей

