.item.photo
  - f.inputs :class => 'photo_file' do
    = f.input :picture
  - f.inputs :class => 'photo_details' do
    - unless f.object.new_record?
      = image_tag f.object.picture.url(:thumb)
      = f.input :_destroy, :as => :hidden
      %li= link_to_function "Удалить", 'remove_photo(this)'
