.block
  .secondary-navigation
    = render_navigation(:context => :admin, :level => 2)
    .clear
  .content
    %h2.title Редактирование факультета
    .inner
      - semantic_form_for @department, :url => admin_college_department_path(params[:college_id], @department) do |f|
        = render :partial => "form", :locals => {:f => f}
