- render :layout => 'admin/colleges/layout' do
  %h2.title Новая кафедра
  .inner
    - semantic_form_for @department, :url => admin_college_departments_path(params[:college_id]) do |f|
      = render :partial => "form", :locals => {:f => f}