%p У пользователя должна быть возможность указывать "свои" предметы. Т.е. это предметы, которые у него есть в этом семестре и по которым ему интересно получать обновления.

%p Просматривая на поддомене ВУЗа какой-то предмет пользователь может добавить его в "свои" предметы (возможно стоит придумать как назвать красивей это дело). Плюс в будущем мы ему будем предлагать добавить какие-то предметы в этот список (например основываясь на номере группы, которую он указал у профиле или по его истории просомтров). Но это пока протсо план на будущее и можно в принципе предусмотреть и нарисовать сейчас, а можно и отложить на потом. А может это и вовсе будет предлагаться на отдельной странице, ссылку на которую мы будем высылать на email.

%h3  к чему это

Одна из фишек - это то, что пользователь может подписаться rss обновлений по своим предметам. В rss он будет получать материалы по этим предметам (преподы, шпоры, конспекты, методы...).

Вот как вариант можно было бы на этой странице показать
%ul
  %li
    список отмеченных предметов (причем он ведь может выбрать физику и в БГУ и в БГУИР. поэтому наверное стоит группировать по ВУЗу. А если все предметы из одного ВУЗа, причем из того, что и указан в профиле, то тогда будем просто показывать их список без группировки).
    %br
    В списке предметов у пользователя есть возможность убрать предмет из списка.
  %li Акцентируем внимание на rss (мы хотим, чтобы пользователь заметил и подписался на rss обновлений по своим предметам). Так что нужна какая-то крупная иконка для этого
  %li А ниже можно показать то же, что пользователь увидит в этой своей rss.
