/* -------------------------------------------------------------------------------------------------

Load this stylesheet after formtastic.css in your layouts to override the CSS to suit your needs.
This will allow you to update formtastic.css with new releases without clobbering your own changes.

For example, to make the inline hint paragraphs a little darker in color than the standard #666:

form.formtastic fieldset > ol > li p.inline-hints { color:#333; }

HINT:
The following style may be *conditionally* included for improved support on older versions of IE(<8)
form.formtastic fieldset ol li fieldset legend { margin-left: -6px;}

--------------------------------------------------------------------------------------------------*/
form.formtastic fieldset > ol > li p.inline-hints {margin-top:0;}
form.formtastic fieldset > ol > li p.inline-errors {margin-top:0;}

form.formtastic li.commit input{ background: #eee no-repeat scroll 7px 50%; border:1px solid #BFBFBF; color:#222222; margin:0 7px 0 0; padding:5px 10px 6px 26px; }
form.formtastic li.commit input.update{ background-image: url("../images/web-app-theme/application_edit.png"); }
form.formtastic li.commit input.create{ background-image: url("../images/web-app-theme/tick.png"); }

form.formtastic li#user_avatar_input p.inline-hints {padding-top: 5px}
form.formtastic select {width: 270px}
form.formtastic fieldset.comboselect select {width: 40%}
