/* Override here any style definide by web-app-theme */
UL{list-style-position: outside; margin-left: 15px;}

TABLE.table TR.green-row TD{background-color: #0f9;}
TABLE.table TR.unpublished TD{color: #bbb; background-color: #eee;}
TABLE.table TD.avatar{padding: 2px 0px; width: 40px; text-align: center; vertical-align: middle}

.form_container{border: 1px solid #f0f0f0; margin-bottom: 20px; padding: 10px}
.form_container .item{margin-bottom: 20px;}
.form_container .item li{margin-bottom: 10px;}

#sidebar .colleges_menu {}
#sidebar .colleges_menu UL{list-style: none; margin: 0px;}
#sidebar .colleges_menu UL LI{list-style: none; border-bottom: 1px solid #aaa;}
#sidebar .colleges_menu UL LI A{display: block; padding: 15px; font-size: 18px!important;}
#sidebar .colleges_menu UL LI A:hover {text-decoration: none; background-color: #ddd}
#sidebar .colleges_menu UL LI A.active, .colleges_menu UL LI A.active:hover {background-color: #aaa; color: #fff}
