- f.inputs do
  = f.input :subdomain, :label => 'Subdomain', :hint => 'Например: <i>Белорусский Государтвенный Университет</i>'
  = f.input :abbr, :label => 'Abbr', :required => false
  = f.input :name, :label => 'Name'
= f.buttons
