.block
  .secondary-navigation
    = render_navigation(:context => :admin, :level => 2)
    .clear
  .content
    %h2.title
      = t("web-app-theme.new", :default => "New")
      College
    .inner
      - semantic_form_for @college, :url => admin_colleges_path do |f|
        = render :partial => "form", :locals => {:f => f}

- content_for :sidebar, render(:partial => 'sidebar')
