- render :layout => 'admin/colleges/layout' do
  %h2.title Редактирование предмета
  .inner
    - semantic_form_for @discipline, :url => admin_college_discipline_path(params[:college_id], @discipline) do |f|
      = render :partial => "form", :locals => {:f => f}