- render :layout => 'admin/colleges/layout' do
  %h2.title Новый предмет
  .inner
    - semantic_form_for @discipline, :url => admin_college_disciplines_path(params[:college_id]) do |f|
      = render :partial => "form", :locals => {:f => f}