.block
  %h3 Легенда
  .content
    %p
    %table.table{style="background-color: #fff"}
      %tr
        %th Заголовок
        %tr
          %td Опубликовано
          %tr.unpublished
            %td Не опубликовано
