- render :layout => 'admin/colleges/layout' do
  %h2.title Редактирование конспекта
  .inner
    - semantic_form_for @synopsis, :url => admin_college_synopsis_path(@synopsis.college, @synopsis) do |f|
      = render :partial => "form", :locals => {:f => f}