- render :layout => 'admin/colleges/layout' do
  %h2.title Редактирование конспекта
  .inner
    - semantic_form_for @resource, :url => admin_college_synopses_path do |f|
      = render :partial => "form", :locals => {:f => f}
