%h1 Сообщения

%p Вот как это выглядело на старом сайте:
= image_tag 'content/2010-11-10_2334.png'

%p Там было понятие групповых переписок и при создании нового сообщения мы указывали тему и участников переписки.
%p на скрине есть "удалить". Это потому что я как админ злогинен. Обычному пользователю не надо давать возможность удалять.

%p Тут я думаю стоит сделать попроще. Смысла в групповых переписках я не вижу и вобще мне кажется даже что не надо разделять переписки по темам. Всё-таки не так уже много переписки ведётся через сайт. И мне кажется, что можно было бы сделать просто типа "Переписка с Петей". Туда заходишь и там просто история всех сообщений твоей переписки с этим пользователем. А если хочешь новую переписку затеять, то выводится типа текстовое поле, куда надо указать собеседника (или со страницы просмотра пользователя открыть ссылку "отправить сообщение").
%p как-то так вобщем мне это видется. Хотя это не строго и можно рассматривать и другие идеи.
